@use "./../abstracts/variables" as *;
@use "./../abstracts/mixins" as *;

header {
  /* Versión mobile */
  background-color: $secondary-color;
  display: flex;
  flex-direction: column;
  align-items: center;

  .logo {
    margin-top: $space-margin-top-a;
    margin-bottom: $space-margin-top-a;
  }

  .nav-header ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: $space-margin-top-a;

    .btn-nav-header {
      text-transform: capitalize;
      color: $tertiary-color;
      font-size: $font-size-small-a;
      &:hover {
        color: rgb(245, 245, 245);
      }
    }
  }

  /* versión tablet */
  @include breakpoint(tablet) {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    width: 100%;

    .nav-header ul {
      flex-direction: row;
      gap: $gap-d;
    }
  }
}
