@use "./../abstracts/variables" as *;

/* Eliminar las líneas inferiores de todas las etiquetas a*/
a {
  text-decoration: none;
}

/* Aplicar border-box */
body * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* backgroun color de main */
body {
  background-color: $primary-color;
}
