@use "./../abstracts/variables" as *;
@use "./../abstracts/mixins" as *;

body {
  @include breakpoint(desktop) {
    background-image: url(./../../img/hero.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 56em -3em;
  }
}

#hero {
  /* Hero mobile */
  height: 80vh;
  background-image: linear-gradient(
      0deg,
      rgba(128, 128, 128, 0.4),
      rgba(128, 128, 128, 0.4)
    ),
    url(./../../img/hero.jpg);
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center center, -230px -100px;

  .container {
    max-width: 95%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1px;
    padding-top: $space-margin-top-b;
  }

  h1 {
    font-size: $font-size-big-f;
    text-transform: uppercase;
    font-weight: bold;
    color: $tertiary-color;

    .color {
      color: $secondary-color;
    }
  }

  p {
    font-size: $font-size-small-a;
    margin-top: $space-margin-top-a;
    color: white;
  }

  /* Versión tablet */
  @include breakpoint(tablet) {
    height: 95vh;
    display: flex;
    align-items: center;
    background-position: center center, -10px -86px;
    height: 20vh;

    .container {
      max-width: 95%;
    }

    h1 {
      font-size: $font-size-big-g;
    }

    p {
      font-size: $font-size-small-b;
    }
  }

  /* Versión de desktop */
  @include breakpoint(desktop) {
    height: auto;
    background-image: none;
    background-size: auto;
    background-repeat: unset;
    background-position: unset;

    .container {
      margin: 0;
      align-items: start;
      margin-top: $space-margin-top-b;
      padding-left: $pace-padding-left;
    }

    p {
      color: $tertiary-color;
    }
  }
}

/* results mobile */
#results {
  background-color: $secondary-color;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: $gap-d;
  padding-top: 1.3em;
  padding-bottom: 1.3em;
  margin-top: $space-margin-top-c;

  .we-result {
    text-align: center;

    span {
      font-size: $font-size-big-a;
      font-weight: bold;
    }

    .plus {
      font-weight: 400;
    }

    p {
      color: $quinary-color;
    }
  }

  /* Versión tablet */
  @include breakpoint(tablet) {
    margin-top: 0;
    height: 30vh;

    span {
      font-size: $font-size-big-d;
    }
  }

  /* Versión desktop */
  @include breakpoint(desktop) {
    background-color: $primary-color;
    justify-content: start;
    padding-left: $pace-padding-left;
    background-color: transparent;
    height: 20vh;
  }
}

/* services mobile */

#services {
  margin: auto;
  margin-top: $space-margin-top-c;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: $gap-d;
  height: 30vh;

  .card {
    border: 2px solid $secondary-color;
    border-radius: 10px;
    padding: 1em;
    width: 90vw;
    background-image: linear-gradient(45deg, $tertiary-color, $secondary-color);
  }

  h2 {
    font-size: $font-size-big-a;
    font-weight: 200;
    margin-bottom: $space-margin-bottom-a;
  }

  p {
    font-size: $font-size-small-b;
    color: $tertiary-color;
  }

  /* Versión tablet */
  @include breakpoint(tablet) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    .card {
      width: auto;
    }

    /* versión desktop */
    @include breakpoint(desktop) {
      display: flex;
      flex-direction: row;

      .card {
        border: none;
        border-radius: 0;
        background-image: none;
        background-color: $quaternary-color;
        padding: $padding-x-a $padding-y-a;

        h2 {
          font-size: $font-size-small-c;
          color: $Septenary-color;
        }
      }
    }
  }
}

body > .container {
  @include breakpoint(tablet_horizontal) {
    margin: auto;
    max-width: 95%;
  }
}
